// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
body {
  margin-top: 2px;
}
.navbar {
  height: 70px;
  background: #fff;
  box-shadow: unset;
  border-bottom: 1px solid black;
  font-size: 14.86px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
}